<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LDVoiceChatMac copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LDVoiceChatMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>801A527116D76D5900ED0012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80315D2516D5182400D8060F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>803A5AEB16FCA8BB00F49C6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8049912B16D64F2F007382A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8049917616D671A9007382A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>805DD88716DF4F810001D7A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>805DD8AF16DF5CBA0001D7A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>806B812216E9F1B800B594CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>807544B316DFA7FA0066AF5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8093923D16D786DE00414EF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80EEE3CF16E5F1F500EAD0F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
